<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyNamespace.MyService" behaviorConfiguration = "ImpersonateAll">
            <endpoint
               address  = "net.tcp://localhost:8001/MyService" 
               binding  = "netTcpBinding"
               contract = "MyNamespace.IMyContract" 
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "ImpersonateAll">
               <serviceAuthorization impersonateCallerForAllOperations = "false"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>
